* {
    padding: 0;
    border: 0;
    margin: 0;
}

.nav {
    background-color: lightblue;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    &__label {
        color: white;
    }
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    flex-direction: column;
}

.section__sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section__sub__items {
    width: 466px;
    height: 208px;
    background-color: lightsteelblue;
    color: white;
}