@use"./variables" as*;
@use"./interactive-navbar";


* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation-desktop {
    display: none;
}

.footer-desktop {
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $primary-color;


    &__logo {
        height: 50px;
        padding: 9px;
    }

    &__button {
        font-size: 30px;
        padding: 4px;
        background-color: white;

    }
}

.header {
    background-color: $secondary-color;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__link {
        color: $primary-color;
        font-size: 20px;
        padding: 7px;
    }

    &__message {
        color: $primary-color;
        font-size: 20px;
        padding: 5px;
    }
}

.section {

    &__img {
        max-width: 100%;
        height: auto;

        &--wide-img {
            min-height: 400px;
            object-fit: cover;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    &__link {
        color: $quaternary-color;
    }

    &__button {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $quaternary-color;
        transition: background-color 0.3s ease;
    }

    &__button:hover {
        background-color: $quaternary-color;
        color: $primary-color;
    }

    &__text {
        background-color: $primary-color;
        padding: 7px;

        &--small-text {
            font-size: 12px;
        }
    }
}

.banner {
    background-color: $primary-color;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message {
    // will add background image and remove background clour
    background-color: antiquewhite;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-section__items {
    background-color: $tertiary-color;
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    background-color: $tertiary-color;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media screen and (min-width:768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sections {
        display: flex;
    }

    .section__img--wide-img {
        width: 1568px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sub-section {
        display: flex;
        flex-direction: row;

        &__items {
            width: 33vw;
        }
    }

    .footer {
        background-color: $tertiary-color;

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
    }

}

@media screen and (min-width:1440px) {
    .navigation-desktop {
        display: block;
    }

    .navigation-desktop {
        padding: 0px 200px 0px 200px;
        background-color: $primary-color;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .nav {
        display: none;
    }

    .navigation-desktop-right {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__button {
            font-size: 30px;
            padding: 4px;
            background-color: white;
            transition: border-bottom 0.3s ease;
            position: relative;
        }

        &__button::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background-color: $quaternary-color;
            transition: width 0.3s ease;
            width: 0;
        }

        &__button:hover::after {
            width: 100%;
        }
    }

    .navigation-desktop-left {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__img {
            height: 50px;
            padding: 10px;
        }

        &__link {
            padding: 10px;
            color: $quaternary-color;
            text-decoration: none;
            transition: border-bottom 0.3s ease;
            position: relative;
        }

        &__link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background-color: $quaternary-color;
            transition: width 0.3s ease;
            width: 0;
        }

        &__link:hover::after {
            width: 100%;
        }
    }

    .sections {
        padding: 0px 200px;
    }

    .message {
        width: 1040px;
        margin: 0 auto;

        &__labels {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 1220px;
        }
    }

    .sub-section {
        width: 1040px;
        margin: 0 auto;
    }

    .footer {
        height: auto;

        &__section--unset {
            display: none;
        }
    }

    .footer-desktop {
        display: block;
    }

    .footer-desktop-sections {
        font-size: 13px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-desktop-section {
        width: 150px;
        padding: 20px;
    }

    .footer-desktop-end {
        display: flex;
        flex-direction: row;
        font-size: 12px;
        gap: 8px;
        text-decoration: none;
        color: black;
    }

    .connect {
        width: 300px;
        padding: 20px;

        &__button {
            border: 2px solid $quaternary-color;
            padding: 15px;
            border-radius: 30px;
            transition: 0.3s ease;
        }

        &__button:hover {
            background-color: $quinary-colour;
        }

        &__button:active {
            border: dashed $quaternary-color 2px;
        }
    }

    .connect-svg-container {
        display: flex;
        justify-content: space-between;

        &__icon {
            width: 25px;
        }

        &__icon path {
            fill: $quaternary-color;
            transition: 0.3s ease;
            fill-opacity: 0.5;
        }

        &__icon path:hover {
            fill-opacity: 1;
        }
    }

    .extras {
        width: 150px;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}