@use"./variables"as*;
@use"./interactive-navbar";


* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;



}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;


    &__logo {
        height: 50px;
        padding: 9px;
    }

    &__button {
        font-size: 30px;
        padding: 4px;
        background-color: white;

    }
}

.header {
    background-color: $secondary-color;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__link {
        color: white;
        font-size: 20px;
        padding: 7px;
    }

    &__message {
        color: white;
        font-size: 20px;
        padding: 5px;
    }
}

.section {

    &__img {
        max-width: 100%;
        height: auto;

        &--wide-img {
            min-height: 400px;
            object-fit: cover;
        }
    }


    &__label {
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }

    &__link {
        color: $quaternary-color;
    }

    &__button {
        padding: 10px;
        border-radius: 20px;
        border: 2px solid $quaternary-color;
        transition: background-color 0.3s ease;
    }

    &__button:hover {
        background-color: $quaternary-color;
        color: white;
    }

    &__text {
        background-color: $primary-color;
        padding: 7px;

        &--small-text {
            font-size: 12px;
        }
    }
}

.banner {
    background-color: $primary-color;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.message {
    background-color: antiquewhite;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-section__items {
    background-color: $tertiary-color;
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.footer {
    background-color: antiquewhite;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


// li {
//     list-style: none;
// }

// a {
//     text-decoration: none;
//     color: rgb(178, 23, 165);
//     font-size: 1rem;
// }

// a:hover {
//     color: grey;
// }

// // header
// header {
//     position: relative;
//     padding: 0.2rem;
// }

// .navbar {
//     width: 100%;
//     height: 60px;
//     max-width: 1200px;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// .navbar .logo a {
//     font-size: 1.5rem;
//     font-weight: bold;
// }

// .navbar .logo__links {
//     display: flex;
//     gap: 2rem;
// }

// .navbar .toggle_btn {
//     color: white;
//     font-size: 1.5rem;
//     cursor: pointer;
//     display: none;
// }

// .action_btn {
//     background-color: orange;
//     color: black;
//     padding: none;
//     border: none;
//     border-radius: 20px;
//     font-size: 0.8rem;
//     font-weight: bold;
//     cursor: pointer;
//     transition: scale 0.2 ease;
// }

// .action_btn:hover {
//     scale: 0.5s;
//     color: aliceblue;
// }

// .action_btn:active {
//     scale: 0.95;
// }

// // dropdown menu
// .dropdown_menu{
//     display: none;
//     position: absolute;
//     right: 2rem;
//     top: 60px;
//     height: 0;
//     width: 300px;
//     background: rgba(255, 255 ,255 , 0.1);
//     backdrop-filter: blur(15px);
//     border-radius: 10px;
//     overflow: hidden;
//     transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
// }

// .dropdown_menu.open{
//     height: 240px;

// }

// .dropdown_menu li {
//     padding: 0.7rem;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .dropdown_menu .action_btn {
//     width: 100%;
//     display: flex;
//     justify-content: center;


// }

// // responsive design
// @media(max-width: 992px) {
//     .navbar_links,
//     .navbar .action_btn {
//         display: none;
//     }

//     .navbar .toggle_btn {
//         display: block;
//     }

//     .dropdown_menu {
//         display: block;
//     }
// }

// @media(max-width: 576px){
//     .dropdown_menu{
//         left: 2rem;
//         width: unset;
//     }

// }







@media screen and (min-width:768px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sections {
        display: flex;
    }

    .section__img--wide-img {
        width: 1568px;
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .sub-section {
        display: flex;
        flex-direction: row;


        &__items {
            width: 33vw;
        }
    }

    .footer {
        background-color: $tertiary-color;

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
        }
    }

}

